@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

button{
   background-color: rgb(15 81 97);
   color: white;
   cursor: pointer;
}

button:hover{
  background-color: rgb(18, 97, 117);
}

a{
  color: rgb(15 81 97);
}

 a:hover{
  color:rgb(18, 97, 117);
}